.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--dashboard-nav-width);
  height: 100vh;
}

@media screen and (max-width: 900px) {
  .Sidebar {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}