.Dashboard {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 0.9rem;
}
.Dashboard h1 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  position: relative;
}
.Dashboard h1::after {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 2rem;
  margin-top: 1.5rem;
  width: 100px;
  height: 0.4rem;
  background: #000;
}
.Main {
  display: grid;
  grid-template: 'nav content sidebar' 100% / calc(2 * var(--dashboard-nav-width)) 1fr 300px;
  flex: 0 0 calc(100% - (3 * var(--dashboard-nav-width)));
  text-align: left;
  overflow: hidden;
}
.Content {
  grid-area: content;
  margin: 5rem 0;
  padding-right: 2rem;
  width: 100%;
}
.Sidebar {
  position: fixed;
  top: 250px;
  right: 0;
  max-width: var(--dashpanel-sidebar-width);
  max-height: calc(100% - 250px);
  padding: 0 3rem 3rem 0;
  font-size: 0;
}

.Dashboard > div p {
  text-align: inherit;
}
.Dashboard > img {
  position: fixed;
  bottom: 0;
  left: calc(0.5 * var(--Dashboardboard-sidebar-width));
  width: auto;
  height: 40%;
}

.Content.Account form + form {
  margin-top: 2rem;
}

.Dim {
  position: fixed;
  z-index: 250;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
}
.Dim.dimmed {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 900px) {
  .Dashboard h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .Main {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    grid-template:
      'content' 1fr
      'sidebar' auto / 100%;
    position: relative; /* for Date */
  }
  .Content {
    margin: 0;
    margin-top: 5rem;
    padding: 3rem;
    padding-bottom: 4rem;
  }
  .Sidebar {
    position: fixed;
    z-index: 300;
    top: unset;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    max-height: 75%;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .Content {
    padding: 1.5rem;
    padding-bottom: 2.5rem;
  }
}