.Calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}
.calendarWeekLabel {
  padding: 0 0.5rem;
  font-family: var(--mono-font);
  font-size: 1.3rem;
  font-weight: 300;
  color: #000;
  line-height: 1;
  padding-bottom: 0.25rem;
  border-bottom: 0.25rem solid #000;
  text-transform: lowercase;
}
.calendarDay {
  border: 1px solid #000;
  border-width: 1px 0 0 1px;
  padding: 0 0.5rem 0.5rem;
  min-height: 4rem;
  cursor: pointer;
}
.calendarDay > div.title {
  font-family: var(--mono-font);
  font-weight: 400;
  font-size: 1rem;
  background: #fff;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 999px;
  text-align: center;
  line-height: 2rem;
  transform: translate3d(0, -0.5rem, 0);
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0);
}
.calendarDay > div:last-of-type {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0.25rem -0.25em -0.25em 0;
}
.calendarDay > div:last-of-type > div {
  margin: 0 0.25em 0.25em 0;
}
.calendarDay.filler {
  border: 0;
  background: #000;
  opacity: 0.05;
  cursor: default;
}
.calendarDay.filler * {
  display: none;
}

@media screen and (max-width: 900px) {
  .Calendar {
    gap: 0.25rem;
  }
  .calendarWeekLabel {
    overflow: hidden;
    font-size: 1rem;
  }
  .calendarDay {
    padding: 0 0.25rem 0.25rem;
    min-height: unset;
    text-align: center;
  }
  .calendarDay > div.title {
    line-height: 1;
    transform: none;
    box-shadow: none;
    width: auto;
    height: auto;
    background: none;
  }
  .calendarDay > div:last-of-type {
    font-size: 1rem;
    justify-content: center;
    margin: 0.25rem -0.5rem 0rem 0;
  }
  .calendarDay > div:last-of-type > div {
    text-align: center;
  }
}