.MyHabitsNav {
  position: relative;
  display: inline-block;
  width: 100%;
}
.HabitViewOptions {
  margin-bottom: 2rem;
}
div button.currentHabitView { /* including div for specificity */
  opacity: 1;
}

.retired {
  opacity: 0.5;
  transition: 0.2s;
}
.retired:hover {
  opacity: 1;
}

.HabitsContainer h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.HabitList {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}
.HabitListItem + .HabitListItem {
  margin-top: 1.4rem;
}
.HabitListItemHeader {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.HabitListItemHeader h3 {
  font-family: var(--mono-font);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-left: 1rem;
  margin-bottom: 0;
}
.HabitIcon {
  position: relative;
  z-index: 9;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}
.HabitListItem .HabitIcon::after {
  content: '+';
  color: #000;
  font-size: 0.8rem;
  line-height: 0.75rem;
  position: absolute;
  bottom: 0;
  left: 75%;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.HabitListItem.expanded .HabitIcon::after {
  content: '-'
}
.HabitListItemBody {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  width: calc(100% - 0.5rem);
  border-left: 1px solid #000;
  background: #fff;
  max-height: 0;
  overflow: hidden;
  transform-origin: top left;
  opacity: 0;
  transform: scaleX(0);
  transition: max-height 0.2s, opacity 0.2s, transform 0.2s, border-radius 0.5s;
  margin-top: 0.5rem;
  border-radius: 0 0 4rem 0;
}
.HabitListItem.expanded .HabitListItemBody {
  opacity: 1;
  transform: scaleX(1);
  border-radius: 0;
}
.HabitListItemBody > div {
  padding: 1rem 1rem 1.5rem;
}
.HabitListItemBody label {
  font-size: 0.8rem;
}
.HabitListItemBody input {
  border: 0;
  background: #f7f7f7;
  font-size: 0.9rem;
}

.HabitGrid {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem -1.5rem 0 0;
}
.HabitGrid h2 {
  flex: 1 0 100%;
  margin-bottom: 2rem;
}
.HabitGridItem {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 1.5rem 1.5rem 0;
  padding: 1rem;
  background: #fff;
  /* box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.05); */
}
.HabitGridColorIndicator {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.5rem;
  opacity: 0.5;
}
.HabitGridItemHeader .HabitIcon {
  margin-top: -2rem;
}
.HabitGridItemHeader .HabitIcon + span {
  display: block;
  margin: 0.75rem 0 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  padding-right: 1rem;
}
.HabitGridItemBody {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.HabitGridItemBody > span {
  font-family: var(--mono-font);
  font-size: 0.8rem;
  margin-bottom: 0.75rem;
}
.HabitGridItemBody > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.HabitGridItemBody > div button {
  opacity: 0.3;
}
.HabitGridItemBody > div button + button {
  margin-left: 0.5rem;
}
.NewHabitGridItem {
  flex: 1 0 100%;
}
.NewHabitGridItem > button {
  display: flex;
  align-items: center;
}
.NewHabitGridItem > button > div {
  width: 2rem;
  height: 2rem;
  background: #000;
  color: #fff;
  border-radius: 999px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NewHabitGridItem > button > span {
  display: block;
  margin-left: 0.75rem;
  font-size: 1rem;
  position: relative;
}
.NewHabitGridItem > button > span::before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: -0.5rem;
  width: calc(100% + 1rem);
  height: calc(100% + 0.5rem);
  background: #fff;
  transform: skew(-12deg) translate3d(0, -50%, 0);
}

.displayOptions {
  margin-top: 1rem;
  display: flex;
}
.displayOptions > div:first-child {
  flex: 1 1 auto;
}
.displayOptions > div:last-child {
  flex: 0 1 auto;
}

.DeleteHabit {
  margin-top: 1rem;
  text-align: center;
}
.DeleteHabit button {
  font-size: 0.5rem;
}
.DeleteHabit button > span {
  display: inline-block;
  margin-left: 0.25rem;
  font-size: 0.75rem;
}

@media screen and (max-width: 900px) {
  .HabitIcon {
    width: 1.75rem;
    height: 1.75rem;
    font-size: 2rem;
  }
  .HabitList {
    max-width: 100%;
  }
  .HabitListItem + .HabitListItem {
    margin-top: 1rem;
  }
  .HabitListItemHeader h3 {
    font-size: 1rem;
  }
  .HabitGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 33%);
    margin: 0 -1rem 0 0;
  }
  .HabitGridItem {
    margin: 0 1rem 1rem 0;
  }
  .HabitGridItemHeader .HabitIcon {
    margin-top: -1.5rem;
  }
  .HabitGridItemHeader .HabitIcon + span {
    line-height: 1;
  }
  .HabitGridItemBody > span {
    line-height: 1.2;
  }
  .HabitGridItemBody button {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .HabitGrid {
    grid-template-columns: repeat(auto-fit, 50%);
  }
  .HabitGridItemBody button {
    font-size: 0.8rem;
  }
}