.Layout {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.Layout::before, .f, .base {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1.3s ease-in-out;
}
.base {
  background: #fde8ff;
}
.f {
  width: 130%;
  height: 130%;
}

.full {
  width: 100%;
  height: 100%;
}

.Layout img {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  width: 500px;
  height: auto;
}

