.Submit {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem -1rem -1rem 0;
}
.Submit button {
  margin: 0 1rem 1rem 0;
}
.Submit.compact {
  margin-top: 1rem;
  justify-content: center;
}
.Submit.compact button {
  padding: 0.5rem 1rem;
}
