@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes scaleIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scaleOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}

.Modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 4rem;
  background: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.2s 1 forwards;
}
.modalContainer {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
.modalContent {
  position: relative;
  width: 400px;
  background: #fff;
  padding: 2rem;
  animation: fadeIn 0.2s 1 forwards, scaleIn 0.2s 1 forwards;
}
.Modal.goodbye {
  animation: fadeOut 0.2s 1 forwards;
}
.Modal.goodbye .modalContent {
  animation: fadeOut 0.2s 1 forwards, scaleOut 0.2s 1 forwards;
}
.exit {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: #000;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.exit > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}