.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Loading svg {
  height: 100%;
}
.Loading circle {
  stroke: var(--loading-icon-color);
}
.PageLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
}
.PageLoading .Loading {
  height: 2rem;
  max-height: 100%;
}
.PageLoading circle {
  stroke: #000;
}

.PageLoading.h125r {
  height: 1.25rem;
}

.PageLoading.h80p {
  height: 80%;
}