.Settings {
  width: 100%;
}
.Settings + .Settings {
  margin-top: 1rem;
}
.Settings h3 {
  font-size: 1rem;
  margin: 1.5rem 0 1rem;
  text-transform: uppercase;
}
.Settings > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Settings > div + div {
  margin-top: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 0.5rem;
}