.Input + .Input, form > div + .Input {
  margin-top: 1rem;
}
form > div > .Input + .Input {
  margin-top: 0;
  margin-left: 1rem;
}
.Input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Input > label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Input > div {
  display: inline-block;
  position: relative;
}
.Input > div + span {
  display: inline-block;
  margin-top: 0.3rem;
  font-size: 0.7rem;
  letter-spacing: 0ch;
}

.Input.inline {
  display: inline-flex;
}
.Input.stretch > div, .Input.stretch > div > input, .Input > div + span {
  width: 100%;
}
.Input.alertInside .Alert {
  left: unset;
  right: 1.25rem;
}

.Alert {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 100%;
  transform: translate3d(0.5rem, -50%, 0);
}
.Alert > div {
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  font-size: 1rem;
  color: #000;
  border-radius: 999px;
  cursor: help;
}
.Alert > span {
  position: absolute;
  top: calc(100% + 0.25rem);
  right: -0.5rem;
  background: #fff;
  color: #000;
  font-size: 0.75rem;
  line-height: 2;
  padding: 0 0.5rem;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  opacity: 0;
  transform: scale(0.9);
  transform-origin: top right;
  pointer-events: none;
  transition: 0.2s;
}
.Alert > span > span {
  display: block;
  transform: skew(12deg);
}
.Alert > div:hover + span {
  pointer-events: unset;
  transform: scale(1) skew(-12deg);
  opacity: 1;
}

.Input input[type=color] {
  width: 2rem;
  height: 2rem;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}
.ColorInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  background: #fff;
  border: 1px solid #000;
  border-radius: 999px;
  cursor: pointer;
}
