.Nav {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Nav button {
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  background: transparent;
  font-size: 1.3rem;
  color: #000;
  width: 3rem;
  height: 3rem;
  border-radius: 999px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.Nav button + button {
  margin-top: 1rem;
}
.Nav button:hover, .Nav button.active {
  background: #000;
  color: #fff;
}
.Nav button > span {
  display: block;
  position: absolute;
  bottom: 50%;
  left: 100%;
  font-family: var(--mono-font);
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #000;
  text-align: left;
  white-space: nowrap;
  margin-left: 1rem;
  transform: translate3d(0, 50%, 0) scale(0);
  transform-origin: center left;
  transition: 0.2s; 
}
.Nav button:hover > span {
  transform: translate3d(0, 50%, 0) scale(1);
}
.Nav button.active > span {
  transform: translate3d(0, 50%, 0) scale(0);
}
.Nav button:hover > span::before {
  content: '';
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: -0.5rem;
  width: calc(100% + 1rem);
  height: 1.2rem;
  background: #fff;
  transform: skew(-12deg);
}

@media screen and (max-width: 900px) {
  .Nav {
    margin-top: 1rem;
    margin-left: 2rem;
    display: inline-flex;
    align-items: flex-start;
    width: auto;
    height: 100%;
    transform-origin: top left;
    animation: fadeIn 0.2s 1 forwards;
  }
  .Nav button {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.1rem;
  }
  .Nav button > span,
  .Nav button.active > span {
    line-height: 2.5rem;
    transform: translate3d(0, 50%, 0);
    margin-left: 0.75rem;
  }
  .Nav button + button {
    margin-top: 0.5rem;
  }
  .MobileNavButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    overflow: visible;
    position: relative;
  }
  .MobileNavButton::before {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    width: 140%;
    height: 140%;
    background: url('./blob.svg') center;
    background-size: 140% 140%;
    transition: 0.2s;
  }
  .MobileNavButton > span {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .MobileNavButton > span::before, .MobileNavButton > span::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    transition: 0.2s;
  }
  .MobileNavButton > span::after {
    margin-top: 5px;
  }
  .MobileNavButton.expanded::before {
    transform: scale(4, 9);
  }
  .MobileNavButton.expanded > span::before,
  .MobileNavButton.expanded > span::after {
    transform-origin: center;
  }
  .MobileNavButton.expanded > span::before {
    transform: rotate(45deg);
  }
  .MobileNavButton.expanded > span::after {
    margin: 0;
    transform: rotate(-45deg) translate3d(0, -1px, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}