.Date {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2rem 3rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1rem;
}
.Date .dd {
  font-family: var(--header-font);
  font-size: 5em;
  line-height: 1;
}
.Date .mm {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
.Date .Time {
  margin-top: 1.5em;
  font-family: var(--mono-font);
  font-size: 1.2em;
}

@media screen and (max-width: 900px) {
  .Date {
    position: absolute;
    margin: 0.5rem 1rem;
  }
  .Date {
    font-size: 0.5rem;
  }
  .Date .Time {
    margin-top: 0.5em;
    font-size: 1.75em;
  }
}