@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inconsolata:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@keyframes check {
  100% {
      stroke-dashoffset: 0;
  }
}
@keyframes checkmark-shrink {
  100% {
      opacity: 0;
      transform: translate3d(0, 0, 0) rotate(45deg) scale(0);
  }
}
@keyframes dashPanelAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --header-font: 'Dela Gothic One', sans-serif;
  --default-font: 'Work Sans', 'Inter', sans-serif;
  --mono-font: 'Inconsolata', monospace;
  --link-color: #000;
  --link-bg: #000;
  --button-cancel-color: #767578;
  --loading-icon-color: #9FF7E7;
  --dashboard-nav-width: 7rem;
}

* {
  box-sizing: border-box;
}

html, body, #__next {
  width: 100%;
  height: 100%;
  margin: 0;
}

#__next > div {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--default-font), 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-family: var(--header-font);
  font-weight: normal;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

a, a:visited, button.link {
  cursor: pointer;
  font-family: var(--mono-font);
  font-size: inherit;
  line-height: inherit;
  color: var(--link-color);
  text-decoration: none;
  position: relative;
  z-index: 2;
  display: inline-block;
  transition: 0.2s;
}
a::before, button.link::before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: calc(100% + 1rem);
  max-width: 100%;
  height: 100%;
  max-height: 0px;
  border: 1px solid #000;
  border-width: 0 0 1px;
  transition: 0.2s;
}
a:hover::before, button.link:hover::before {
  border-width: 1px;
  max-height: 100%;
  max-width: calc(100% + 1rem);
  transform: skewX(-12deg) translate3d(-0.5rem, 1px, 0);
}

button {
  background: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
}
button, input {
  font-family: var(--mono-font);
  outline: none;
}
button.cancel::before, button.cancel::after {
  border-color: var(--button-cancel-color);
}
button.cancel::before {
  background: var(--button-cancel-color);
}
button span[data-ghost=true] {
  visibility: hidden;
}
button span[data-ghost=true] + * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translate3d(-45%, -50%, 0) scale(0.5);
}
.SuccessAnimation svg {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-dasharray: 2rem;
  stroke-dashoffset: 2rem;
  height: 100%;
  transform-origin: center;
  transform: translate3d(-10%, -30%, 0) rotate(45deg) scale(1);
}
.SuccessAnimation.check svg {
  animation: 0.7s check 1 forwards;
}
.SuccessAnimation.fade svg {
  stroke-dashoffset: 0;
  animation: 0.5s checkmark-shrink 1 forwards;
}

div.sbs {
  display: flex;
}

label {
  font-family: var(--mono-font);
  font-size: 0.8rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.3rem;
}
input {
  background: transparent;
  border: 1px solid #000;
  line-height: 2.5;
  font-size: 1rem;
  padding: 0 0.7rem;
  transition: 0.2s;
}
input:focus {
  box-shadow: inset 3px 0 0 #000;
}
input[type=date] {
  cursor: pointer;
}

.bb {
  font-size: 0.8rem;
}